html, body {
  /* background-color: #ffeead; */
  /* font-size: 20px; */
  height: 100%;
  /* color: #ffeead; */
}

p {
  color: #96ceb4;
  text-align: center;
}

.header {
    background-color: #3E3F3A;
    color: hsla(240, 100%, 100%, 1);
}

.header :nth-child(2) {
    padding: 0 40px;
}

.menu {
    background-color: hsla(120, 100%, 75%, 1);
    align-items: center;
}

.content {
    background-color: hsla(240, 100%, 99%, 1);
}

.footer {
    background-color: #88d8b0;
}
