html, body {
  background-color: #fefefe;
  color: #2d2d2d;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.site-navigation {
  height: 60px;
  background-color: #1d1e25;
  color: #bec6d5;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.nav-brand {
  font-family: 'Press Start 2P', cursive;
}

.site-navigation div:first-child {
  margin-right: auto;
}

.site-navigation div {
  margin: 10px;
}

.site-navigation div:last-child {
  margin-right: 20px;
}

.site-navigation a  {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  transition: all .2s ease-in-out;
}

.site-navigation div:hover {
  color: #fefefe;
  transform: scale(1.1);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  "b b b b b b b b b b b b"
  "s s s s s s s s s s s s"
  "x x x x x x x x x x x x"
  "e e e e e e e e e e e e"
  "c c c c c c c c c c c c"
}


.bio {
  grid-area: b;
  background-color: #f6f6f7;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  ". . bc bc bc bc bc bc bc bc . ."
}

.bio-content {
  grid-area: bc;
  padding: 30px 10px;
}

.skills {
  grid-area: s;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  ". . sc sc sc sc sc sc sc sc . ."
}

.skills-content {
  grid-area: sc;
  padding: 30px 10px;
}

.experience {
  grid-area: x;
  background-color: #f6f6f7;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  ". . xc xc xc xc xc xc xc xc . ."
}

.experience-content {
  grid-area: xc;
  padding: 30px 10px;
}


.education {
  grid-area: e;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  ". . ec ec ec ec ec ec ec ec . ."
}

.education-content {
  grid-area: ec;
  padding: 30px 10px;
}

.contact {
  grid-area: c;
  background-color: #f6f6f7;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  ". . cc cc cc cc cc cc cc cc . ."
}

.contact-content {
  grid-area: cc;
  padding: 30px 10px;
}
